n8n/kalanera-install-tracking-workflow.json
{
  "name": "Kala Nera — install tracking → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kalanera-install-tracking",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://www.kalanera.gr,https://kalanera.gr,http://localhost:5500,http://localhost:5501"
        }
      },
      "id": "a1000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-720, 0],
      "webhookId": "b2000002-0002-4000-8000-000000000002"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst rawBody = item.body;\nconst errors = [];\n\nconst allowedEvents = new Set([\n  'landing_install',\n  'play_store_click',\n  'pwa_install',\n]);\n\nconst maxLen = (obj, key, max) => {\n  if (!(key in obj)) {\n    errors.push(`missing ${key}`);\n    return '';\n  }\n  const s = obj[key] == null ? '' : String(obj[key]);\n  if (s.length > max) errors.push(`${key} too long (max ${max})`);\n  return s;\n};\n\nconst optLen = (obj, key, max) => {\n  if (!(key in obj)) return '';\n  const s = obj[key] == null ? '' : String(obj[key]);\n  if (s.length > max) errors.push(`${key} too long (max ${max})`);\n  return s;\n};\n\nlet body = {};\nif (rawBody === null || rawBody === undefined || typeof rawBody !== 'object' || Array.isArray(rawBody)) {\n  errors.push('body must be a JSON object');\n} else {\n  body = rawBody;\n}\n\nconst event = body && !errors.length ? maxLen(body, 'event', 40) : '';\nconst page_path = body && !errors.length ? maxLen(body, 'page_path', 256) : '';\n\nif (event && !allowedEvents.has(event)) errors.push('invalid event');\n\nconst normalized = body && !errors.length ? {\n  event,\n  page_path,\n  page_title: optLen(body, 'page_title', 256),\n  lang: optLen(body, 'lang', 8),\n  os: maxLen(body, 'os', 40),\n  device: maxLen(body, 'device', 40),\n  display_mode: optLen(body, 'display_mode', 32),\n  referrer: optLen(body, 'referrer', 2048),\n  referrer_host: optLen(body, 'referrer_host', 256),\n  utm_source: optLen(body, 'utm_source', 128),\n  utm_medium: optLen(body, 'utm_medium', 128),\n  utm_campaign: optLen(body, 'utm_campaign', 128),\n  click_source: optLen(body, 'click_source', 64),\n  install_method: optLen(body, 'install_method', 64),\n  app_version: optLen(body, 'app_version', 32),\n  screen: optLen(body, 'screen', 32),\n  timezone: optLen(body, 'timezone', 64),\n  timestamp_iso: optLen(body, 'timestamp_iso', 40),\n  timestamp_local: optLen(body, 'timestamp_local', 64),\n} : {};\n\nif (body && !errors.length) {\n  try {\n    if (JSON.stringify(body).length > 8192) errors.push('payload too large');\n  } catch (e) {\n    errors.push('body not serializable');\n  }\n}\n\nlet dedupeSkip = false;\nif (!errors.length && normalized.event === 'landing_install') {\n  const store = $getWorkflowStaticData('global');\n  const dedupeKey = `${normalized.event}|${normalized.page_path}|${normalized.os}`;\n  const last = store[dedupeKey] || 0;\n  if (Date.now() - last < 180000) dedupeSkip = true;\n  else store[dedupeKey] = Date.now();\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...normalized,\n    _valid: valid,\n    _skip: dedupeSkip,\n    _errors: errors,\n    _visitor_ip: String(\n      item.headers?.['x-real-ip']\n      || item.headers?.['x-forwarded-for']?.split(',')[0]?.trim()\n      || ''\n    ),\n  },\n}];"
      },
      "id": "a1000001-0001-4000-8000-000000000003",
      "name": "Validate install payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ String($json._valid) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000004",
      "name": "Payload valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'invalid_payload', details: $json._errors }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ (() => { const h = $('Webhook').first().json.headers || {}; const o = String(h.origin ?? h.Origin ?? '').trim(); const allowed = new Set(['https://www.kalanera.gr','https://kalanera.gr','http://localhost:5500','http://localhost:5501']); return allowed.has(o) ? o : 'https://www.kalanera.gr'; })() }}"
              },
              {
                "name": "Vary",
                "value": "Origin"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Kalanera-Token"
              }
            ]
          }
        }
      },
      "id": "a1000001-0001-4000-8000-000000000005",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-240, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-dedupe",
              "leftValue": "={{ String($json._skip) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "skip-own-ip",
              "leftValue": "={{ $json._visitor_ip }}",
              "rightValue": "145.53.105.134",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000006",
      "name": "Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-landing",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "landing_install",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "landing_install"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-play",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "play_store_click",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "play_store_click"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-pwa",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "pwa_install",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pwa_install"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "a1000001-0001-4000-8000-000000000007",
      "name": "Route by event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [240, -80]
    },
    {
      "parameters": {
        "chatId": "1574140555",
        "text": "=📲 <b>Install-pagina bezocht</b>\n\n🕐 {{ $json.timestamp_local || '—' }}\n📱 {{ $json.os }} · {{ $json.device }}\n🔗 {{ $json.referrer === 'direct' ? 'Direct (mogelijk QR-sticker)' : ($json.referrer_host || $json.referrer || '—') }}\n📄 {{ $json.page_path }} ({{ $json.lang || '?' }})\n🌍 {{ $json.timezone || '—' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a1000001-0001-4000-8000-000000000008",
      "name": "Telegram landing_install",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [520, -240],
      "webhookId": "c3000003-0003-4000-8000-000000000003",
      "credentials": {
        "telegramApi": {
          "id": "StxxLcKLDtCGCSL2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1574140555",
        "text": "=▶️ <b>Play Store geklikt</b>\n\n📍 {{ $json.click_source || 'unknown' }} · {{ $json.page_path }}\n📱 {{ $json.os }}\n🕐 {{ $json.timestamp_local || '—' }}\n🌍 {{ $json.timezone || '—' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a1000001-0001-4000-8000-000000000009",
      "name": "Telegram play_store_click",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [520, -80],
      "webhookId": "c3000003-0003-4000-8000-000000000004",
      "credentials": {
        "telegramApi": {
          "id": "StxxLcKLDtCGCSL2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1574140555",
        "text": "=✅ <b>PWA geïnstalleerd</b> (home screen)\n\n📄 {{ $json.page_path }}\n📱 {{ $json.os }} · {{ $json.install_method || 'browser' }}\n🕐 {{ $json.timestamp_local || '—' }}\n🌍 {{ $json.timezone || '—' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a1000001-0001-4000-8000-00000000000a",
      "name": "Telegram pwa_install",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [520, 80],
      "webhookId": "c3000003-0003-4000-8000-000000000005",
      "credentials": {
        "telegramApi": {
          "id": "StxxLcKLDtCGCSL2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ (() => { const h = $('Webhook').first().json.headers || {}; const o = String(h.origin ?? h.Origin ?? '').trim(); const allowed = new Set(['https://www.kalanera.gr','https://kalanera.gr','http://localhost:5500','http://localhost:5501']); return allowed.has(o) ? o : 'https://www.kalanera.gr'; })() }}"
              },
              {
                "name": "Vary",
                "value": "Origin"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Kalanera-Token"
              }
            ]
          }
        }
      },
      "id": "a1000001-0001-4000-8000-00000000000b",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate install payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate install payload": {
      "main": [
        [
          {
            "node": "Payload valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload valid?": {
      "main": [
        [
          {
            "node": "Notify?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify?": {
      "main": [
        [
          {
            "node": "Route by event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by event": {
      "main": [
        [
          {
            "node": "Telegram landing_install",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram play_store_click",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram pwa_install",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram landing_install": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram play_store_click": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram pwa_install": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
