n8n/local-businesses-publish-json.example.json
{
  "name": "kalanera-localbusiness-publish-json (example)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-publish-001",
      "name": "Manual — publish JSON",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, -80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-publish-002",
      "name": "Schedule — every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 120],
      "notes": "Workflow INACTIVE houden tot staging/deploy getest is."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGtUvOvJ35MzXsZBZOPR1xzkyb0V_sMttOKcv1JBuig",
          "mode": "list",
          "cachedResultName": "localbusinesses-kalanera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGtUvOvJ35MzXsZBZOPR1xzkyb0V_sMttOKcv1JBuig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "REPLACE_WITH_BUSINESS_TAB_GID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_TAB_NAME"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "sheets-publish-003",
      "name": "Google Sheets — publish",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-440, 20],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map((i) => i.json);\nconst generatedAt = new Date().toISOString();\nconst envelope = {\n  generatedAt,\n  source: 'google-sheets',\n  rowCount: rows.length,\n  rows,\n};\nconst jsonText = JSON.stringify(envelope);\nreturn [\n  {\n    json: {\n      envelope,\n      jsonText,\n      stagingFileName: 'local-businesses.staging.json',\n    },\n  },\n];"
      },
      "id": "code-pack-publish-004",
      "name": "Pack JSON (publish)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 20]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const j = $input.first().json;\nconst fileContent = String(j.jsonText ?? '');\nif (!fileContent) throw new Error('Pack JSON: jsonText ontbreekt of is leeg');\nconst fileName = 'data/local-businesses.json';\nreturn [{ json: { fileName, fileContent, byteSize: Buffer.byteLength(fileContent, 'utf8'), generatedAt: j.envelope?.generatedAt ?? null, rowCount: j.envelope?.rowCount ?? null, stagingFileName: j.stagingFileName ?? 'local-businesses.staging.json' } }];"
      },
      "id": "code-github-prep-005",
      "name": "Prepare GitHub push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -120],
      "notes": "Mapt jsonText → fileContent. Zonder deze node faalt GitHub Push (undefined.endsWith). Zie n8n/local-businesses-github-push-code.js"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "evertvanlaar",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "VisualStudioCode",
          "mode": "name"
        },
        "filePath": "={{ $json.fileName }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "data: sync local-businesses from Sheet"
      },
      "id": "github-push-006",
      "name": "GitHub Push",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [400, -120],
      "credentials": {
        "githubOAuth2Api": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub account"
        }
      },
      "notes": "Niet rechtstreeks na Pack JSON — altijd via Prepare GitHub push."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const j = $input.first().json;\nconst buf = Buffer.from(j.jsonText, 'utf8');\nreturn [\n  {\n    json: {\n      fileName: j.stagingFileName,\n      byteSize: buf.length,\n    },\n    binary: {\n      data: {\n        data: buf.toString('base64'),\n        mimeType: 'application/json',\n        fileName: j.stagingFileName,\n      },\n    },\n  },\n];"
      },
      "id": "code-binary-005",
      "name": "To binary (staging)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 20],
      "notes": "Koppel SFTP/SSH → /data/local-businesses.staging.json op kalanera.gr. Zie docs/static-business-json-rollout.md"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LB_JSON_DEPLOY_URL || 'https://REPLACE/internal/deploy-local-businesses' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { fileName: $json.fileName, content: $('Pack JSON (publish)').first().json.jsonText } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-deploy-006",
      "name": "HTTP deploy (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 20],
      "disabled": true
    },
    {
      "parameters": {
        "path": "local-businesses-json-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wb-preview-007",
      "name": "Webhook — JSON preview GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-720, 360],
      "webhookId": "local-businesses-json-preview"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGtUvOvJ35MzXsZBZOPR1xzkyb0V_sMttOKcv1JBuig",
          "mode": "list",
          "cachedResultName": "localbusinesses-kalanera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGtUvOvJ35MzXsZBZOPR1xzkyb0V_sMttOKcv1JBuig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "REPLACE_WITH_BUSINESS_TAB_GID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_TAB_NAME"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "sheets-preview-008",
      "name": "Google Sheets — preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-440, 360],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map((i) => i.json);\nconst generatedAt = new Date().toISOString();\nconst envelope = {\n  generatedAt,\n  source: 'google-sheets',\n  rowCount: rows.length,\n  rows,\n};\nreturn [{ json: { jsonText: JSON.stringify(envelope) } }];"
      },
      "id": "code-pack-preview-009",
      "name": "Pack JSON (preview)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.jsonText }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "respond-preview-010",
      "name": "Respond preview JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [120, 360]
    }
  ],
  "connections": {
    "Manual — publish JSON": {
      "main": [[{ "node": "Google Sheets — publish", "type": "main", "index": 0 }]]
    },
    "Schedule — every 15 min": {
      "main": [[{ "node": "Google Sheets — publish", "type": "main", "index": 0 }]]
    },
    "Google Sheets — publish": {
      "main": [[{ "node": "Pack JSON (publish)", "type": "main", "index": 0 }]]
    },
    "Pack JSON (publish)": {
      "main": [
        [
          { "node": "Prepare GitHub push", "type": "main", "index": 0 },
          { "node": "To binary (staging)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare GitHub push": {
      "main": [[{ "node": "GitHub Push", "type": "main", "index": 0 }]]
    },
    "To binary (staging)": {
      "main": [[{ "node": "HTTP deploy (optional)", "type": "main", "index": 0 }]]
    },
    "Webhook — JSON preview GET": {
      "main": [[{ "node": "Google Sheets — preview", "type": "main", "index": 0 }]]
    },
    "Google Sheets — preview": {
      "main": [[{ "node": "Pack JSON (preview)", "type": "main", "index": 0 }]]
    },
    "Pack JSON (preview)": {
      "main": [[{ "node": "Respond preview JSON", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "settings": {
    "executionOrder": "v1"
  }
}
