n8n/monitor-json-webhook-compare-weekly.example.json
{
  "name": "kalanera-monitor-json-webhook-compare-weekly (example)",
  "nodes": [
    {
      "parameters": {},
      "id": "m3-manual-001",
      "name": "Manual — test run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, -40]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [0],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "m3-schedule-002",
      "name": "Schedule — Sunday 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 160],
      "notes": "Zondag 09:00 (timezone workflow: Europe/Athens). Workflow INACTIVE tot SMTP/email is gekoppeld."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const JSON_URL = 'https://www.kalanera.gr/data/local-businesses.json';\nconst WEBHOOK_URL = 'https://n8n.vanlaar.cloud/webhook/local-businesses';\nconst MIN_ACTIVE = 50;\nconst MAX_DIFF = 2; // alert als verschil > 2 (dus >= 3)\n\nfunction sheetStatus(row) {\n  return String(row?.Status ?? row?.status ?? row?.STATUS ?? '').trim().toLowerCase();\n}\n\nfunction normalizeRows(payload) {\n  if (Array.isArray(payload)) return payload;\n  if (payload && Array.isArray(payload.rows)) return payload.rows;\n  if (payload && Array.isArray(payload.data)) return payload.data;\n  return [];\n}\n\nfunction countActive(payload) {\n  return normalizeRows(payload).filter((r) => sheetStatus(r) === 'active').length;\n}\n\nasync function getJson(url) {\n  return this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    json: true,\n    timeout: 30000,\n  });\n}\n\nlet jsonPayload;\nlet webhookPayload;\nlet jsonError = null;\nlet webhookError = null;\n\ntry {\n  jsonPayload = await getJson.call(this, JSON_URL);\n} catch (e) {\n  jsonError = e?.message || String(e);\n}\n\ntry {\n  webhookPayload = await getJson.call(this, WEBHOOK_URL);\n} catch (e) {\n  webhookError = e?.message || String(e);\n}\n\nconst jsonActive = jsonPayload != null ? countActive(jsonPayload) : 0;\nconst webhookActive = webhookPayload != null ? countActive(webhookPayload) : 0;\nconst diff = Math.abs(jsonActive - webhookActive);\nconst generatedAt = jsonPayload && typeof jsonPayload === 'object' && !Array.isArray(jsonPayload)\n  ? (jsonPayload.generatedAt || null)\n  : null;\n\nconst issues = [];\nif (jsonError) issues.push(`JSON fetch mislukt: ${jsonError}`);\nif (webhookError) issues.push(`Webhook fetch mislukt: ${webhookError}`);\nif (!jsonError && jsonActive < MIN_ACTIVE) issues.push(`JSON te weinig Active-rijen: ${jsonActive} (min ${MIN_ACTIVE})`);\nif (!webhookError && webhookActive < MIN_ACTIVE) issues.push(`Webhook te weinig Active-rijen: ${webhookActive} (min ${MIN_ACTIVE})`);\nif (!jsonError && !webhookError && diff > MAX_DIFF) {\n  issues.push(`JSON (${jsonActive}) en webhook (${webhookActive}) lopen uit sync (verschil ${diff})`);\n}\nif (!jsonError && jsonActive === 0 && webhookActive > 0) {\n  issues.push('JSON leeg/ongeldig terwijl webhook data heeft — deploy/publish vergeten?');\n}\n\nconst ok = issues.length === 0;\nconst subject = ok\n  ? '[kalanera] JSON/webhook OK (wekelijkse check)'\n  : '[kalanera] ALERT: JSON vs webhook uit sync';\n\nconst lines = [\n  'Kalanera — wekelijkse vergelijking statische JSON vs n8n-webhook',\n  `Tijd (UTC): ${new Date().toISOString()}`,\n  '',\n  `Statische JSON: ${jsonActive} Active-rijen${generatedAt ? `, generatedAt ${generatedAt}` : ''}`,\n  `Webhook fallback: ${webhookActive} Active-rijen`,\n  `Verschil: ${diff}`,\n  '',\n];\n\nif (ok) {\n  lines.push('Status: OK — geen actie nodig.');\n} else {\n  lines.push('Status: PROBLEEM');\n  lines.push('');\n  issues.forEach((msg) => lines.push(`- ${msg}`));\n  lines.push('');\n  lines.push('Actie: publish-workflow draaien, JSON op server controleren, of Sheet vs deploy vergelijken.');\n}\n\nfunction escHtml(s) {\n  return String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction toBodyHtml(lines) {\n  return `<!DOCTYPE html><html><body style=\"font-family:system-ui,sans-serif;font-size:14px;line-height:1.45;max-width:42em\"><pre style=\"white-space:pre-wrap;margin:0\">${escHtml(lines.join('\\n'))}</pre></body></html>`;\n}\nconst body = lines.join('\\n');\n\nreturn [{\n  json: {\n    ok,\n    alert: !ok,\n    jsonActive,\n    webhookActive,\n    diff,\n    generatedAt,\n    issues,\n    subject,\n    body,\n    bodyHtml: toBodyHtml(lines),\n  },\n}];"
      },
      "id": "m3-compare-003",
      "name": "Compare JSON vs webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 60]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m3-alert-if",
              "leftValue": "={{ String($json.alert) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "m3-if-004",
      "name": "Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-40, 60],
      "notes": "Alleen e-mail bij probleem. True-tak → Send alert email."
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_FROM_EMAIL",
        "toEmail": "REPLACE_TO_EMAIL",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.bodyHtml }}",
        "options": {}
      },
      "id": "m3-email-005",
      "name": "Send alert email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [240, -20],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      },
      "notes": "Vervang REPLACE_* en koppel SMTP (of vervang door Gmail-node)."
    },
    {
      "parameters": {
        "content": "## JSON vs webhook (wekelijks)\n\n**Doel:** detecteer vergeten deploy na Sheet-edit — JSON op kalanera.gr loopt achter op live webhook.\n\n**Triggers:** Manual + zondag 09:00 (Europe/Athens).\n\n**Alert:** alleen bij verschil ≥3 Active-rijen, te lage telling, of fetch-fout.\n\n**Setup:**\n1. Import workflow\n2. Koppel SMTP credential op *Send alert email*\n3. Vul REPLACE_FROM_EMAIL / REPLACE_TO_EMAIL\n4. Activeer workflow\n5. Test met *Manual — test run*",
        "height": 340,
        "width": 420
      },
      "id": "m3-sticky-006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-660, -320]
    }
  ],
  "connections": {
    "Manual — test run": {
      "main": [[{ "node": "Compare JSON vs webhook", "type": "main", "index": 0 }]]
    },
    "Schedule — Sunday 09:00": {
      "main": [[{ "node": "Compare JSON vs webhook", "type": "main", "index": 0 }]]
    },
    "Compare JSON vs webhook": {
      "main": [[{ "node": "Alert?", "type": "main", "index": 0 }]]
    },
    "Alert?": {
      "main": [
        [{ "node": "Send alert email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Athens"
  }
}
